<footer class="footer">
  <div class="container">
    <div class="footer-body">
      <div>
        <a class="footer-logo-link footer-link-after">
          <svg class="footer-logo" width="168" height="16">
            <use href="./img/sprite.svg#logo"></use>
          </svg>
        </a>
        <p class="footer-description">
          Whether you're looking for a healthy snack or a thoughtful gift, our fruit
          baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-nav-wraper">
        <ul class="footer-nav">
          <li class="footer-nav-item"><a href="#how-it-works" class="footer-nav-link footer-link-after">how it works</a>
          </li>
          <li class="footer-nav-item"><a href="#vegetables" class="footer-nav-link footer-link-after">vegetables</a>
          </li>
          <li class="footer-nav-item"><a href="#reviews" class="footer-nav-link footer-link-after">reviews</a></li>
        </ul>
        <address class="footer-address">
          <ul>
            <li class="footer-nav-item">
              <a href="tel:+380684439426" class="footer-address-link footer-link-after">+380 (68) 443-94-26</a>
            </li>
            <li class="footer-nav-item">
              <a href="https://www.google.com.ua/maps/place/Varex+Imaging+Visitor+Entrance/@40.7332093,-111.9617062,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35bbcfb1369:0x260ab4842496c9e4!8m2!3d40.7332053!4d-111.9591313!16s%2Fg%2F1tcxvqmt?hl=ru&entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D"
                class="footer-address-link footer-link-after" target="_blank">1678 S.Pioneer Road Salt Lake City UT
                84104</a>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <ul class="footer-footer">
      <li class="footer-footer-policy">
        <a class="footer-footer-link footer-link-after" href="#">Privacy Policy</a><span>/</span>
        <a class="footer-footer-link footer-link-after" href="#">Cookie settings</a>
      </li>
      <li>
        <p class="footer-footer-link">&copy;Green Harvest 2024</p>
      </li>
    </ul>
  </div>
</footer>