<footer class="footer">
  <div class="footer-container">
    <svg class="" width="168" height="16">
      <use href="./img/sprite.svg#logo"></use>
    </svg>
    <p class="footer-p">
      Whether you're looking for a healthy snack or a thoughtful gift, our fruit
      baskets are the perfect choice.
    </p>
    <div class="footer-information">
      <div class="footer-text">
        <p class="text">HOW IT WORKS</p>
        <p class="text">VEGETABLES</p>
        <p class="text">REVIEWS</p>
      </div>
      <div class="footer-link">
        <a href="tel:+380684439426" class="footer-contacts"
          >+380 (68) 443-94-26</a
        >
        <p class="footer-contacts">
          1678 S.Pioneer Road Salt Lake City UT 84104
        </p>
      </div>
    </div>
    <div class="footer-link-privacy">
      <ul class="link-privacy">
        <li class="link">
          <a href="privacy-link">Privacy Policy</a> <span>/</span>
          <a href="cookie-link">Cookie settings</a>
        </li>
      </ul>
      <p class="link">
        <a href="harvest-link">©Green Harvest 2023</a>
      </p>
    </div>
  </div>
</footer>
