<footer class="footer">
  <div class="container">
    <div class="footer-body">
      <div>
        <svg class="footer-logo" width="168" height="16">
          <use href="./img/sprite.svg#logo"></use>
        </svg>
        <p class="footer-description">
          Whether you're looking for a healthy snack or a thoughtful gift, our fruit
          baskets are the perfect choice.
        </p>
      </div>
      <div class="footer-nav-wraper">
        <ul class="footer-nav">
          <li class="footer-nav-item"><a href="#how-it-works" class="footer-nav-link">how it works</a></li>
          <li class="footer-nav-item"><a href="#vegetables" class="footer-nav-link">vegetables</a></li>
          <li class="footer-nav-item"><a href="#reviews" class="footer-nav-link">reviews</a></li>
        </ul>
        <address class="footer-address">
          <ul>
            <li class="footer-nav-item">
              <a href="tel:+380684439426" class="footer-address-link">+380 (68) 443-94-26</a>
            </li>
            <li class="footer-nav-item">
              <a class="footer-address-link">1678 S.Pioneer Road Salt Lake City UT 84104</a>
            </li>
          </ul>
        </address>
      </div>
    </div>
    <ul class="footer-footer">
      <li class="footer-footer-policy">
        <a class="footer-footer-link" href="#">Privacy Policy</a><span>/</span>
        <a class="footer-footer-link" href="#">Cookie settings</a>
      </li>
      <li>
        <a class="footer-footer-link" href="#">&copy;Green Harvest 2024</a>
      </li>
    </ul>
  </div>
</footer>