<header class="header">
  <div class="container">
    <a class="logo" href="./index.html" aria-label="Green Harvest logo">
      <svg class="svg-header" width="168" height="16">
        <use href="./img/sprite.svg#logo"></use>
      </svg>
    </a>
    <div class="nav-wrapper">
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#how-it-works" class="nav-link">How It Works</a>
          </li>
          <li class="nav-item">
            <a href="#vegetables" class="nav-link">Vegetables</a>
          </li>
          <li class="nav-item">
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <a class="shop" href="#your-order">Shop now</a>
    </div>
    <!-- Mob and tab menu open btn (burger menu) -->
    <button class="menu-open js-menu-open" type="button" aria-label="open navigation menu">
      <svg class="menu-open-icon" width="40" height="40">
        <use href="./img/sprite.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
</header>