<header class="header">
  <div class="container">
    <a href="./index.html">
      <svg class="svg-header" width="168" height="16">
        <use href="./img/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav>
      <ul>
        <li class="nav-item"><a href="#" class="nav-link">How It Works</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Vegetables</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Reviews</a></li>
      </ul>
    </nav>
    <button type="button" class="btn-shop">Shop now</button>
    <svg class="svg-header-menu" width="40" height="40">
      <use href="./img/sprite.svg#icon-heroicons-outline_menu"></use>
    </svg>
  </div>
</header>
