<header class="header">
  <div class="container">
    <a href="./index.html">
      <svg class="svg-header" width="168" height="16">
        <use href="./img/sprite.svg#logo"></use>
      </svg>
    </a>
    <div class="nav-wrapper">
      <nav>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#How-it-works" class="nav-link">How It Works</a>
          </li>
          <li class="nav-item">
            <a href="#vegetables" class="nav-link">Vegetables</a>
          </li>
          <li class="nav-item">
            <a href="#reviews" class="nav-link">Reviews</a>
          </li>
        </ul>
      </nav>
      <a class="shop-btn shop" href="#your-order">Shop&nbsp;now</a>
    </div>
    <!-- Mob and tab menu open btn (burger menu) -->
    <button class="menu-open js-menu-open" type="button">
      <svg class="menu-open-icon" width="40" height="40">
        <use href="./img/sprite.svg#burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
