<section class="how-it-work" id="how-it-works">
  <div class="container">
    <div class="work-boxes">
      <picture>
        <source media="(min-width:1280px)" srcset="
            img/how-it-works/desktop-woman-cooking.jpg    1x,
            img/how-it-works/desktop-woman-cooking@2x.jpg 2x
          " />
        <source media="(min-width:786px)" srcset="
            img/how-it-works/tablet-woman-cooking.jpg    1x,
            img/how-it-works/tablet-woman-cooking@2x.jpg 2x
          " />
        <img class="how-it-works-img" src="img/how-it-works/mobile-woman-cooking.jpg" alt="Women cooking" srcset="
            img/how-it-works/mobile-woman-cooking.jpg    1x,
            img/how-it-works/mobile-woman-cooking@2x.jpg 2x
          " />
      </picture>
    </div>
    <div class="work-boxes">
      <div class="work-text-box">
        <h2 class="how-it-work-text">
          To order your
          <span class="how-it-works-text-span">vegetable </span>basket, simply
          follow these <span class="how-it-works-text-span">easy steps</span>
        </h2>
        <p class="how-it-works-small-text">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>
      <ul class="work-list">
        <li class="work-item">
          <div class="work-item-content">
            <div class="circle">
              <p class="circle-number">1</p>
            </div>
            <p class="work-item-text">
              Just choose
              <span class="work-item-text-span">the vegetable</span> you want to
              order by clicking on the checkboxes
              <span class="work-item-text-span">next to it</span>.
            </p>
          </div>
        </li>
        <li class="work-item">
          <div class="work-item-content">
            <div class="circle">
              <p class="circle-number">2</p>
            </div>
            <p class="work-item-text">
              Click on <span class="work-item-text-span">the basket</span> and
              fill out the form.
            </p>
          </div>
        </li>
        <li class="work-item">
          <div class="work-item-content">
            <div class="circle">
              <p class="circle-number">3</p>
            </div>
            <p class="work-item-text">
              Sit back and relax! Your
              <span class="work-item-text-span">fresh vegetables</span> basket
              will be delivered.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>