<section class="container how-it-works">
  <div class="how-it-works">
    <div class="img-it-works">
      <img src="/src/img/webp/how-it-works.jpg" alt="works" />
    </div>

    <div class="section-works">
      <div class="text-tittle">
        <p class="title-it-works">
          To order your vegetable basket, simply follow these easy steps
        </p>
        <p class="text-it-works">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>
      <div class="list-block">
        <ol>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>
  </div>
</section>
