<section how-it-works>
  <div class="container how-it-works">
    <h2 class="visually-hidden">How it works</h2>
    <div class="img-it-works">
      <picture class="woman-cook">
        <source
          media="(min-width: 1280px)"
          srcset="
            /img/how-it-works/desktop-woman-cooking.jpg    1x,
            /img/how-it-works/desktop-woman-cooking@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            src/img/how-it-works/tablet-woman-cooking.jpg    1x,
            src/img/how-it-works/tablet-woman-cooking@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            src/img/how-it-works/mobile-woman-cooking.jpg    1x,
            src/img/how-it-works/mobile-woman-cooking@2x.jpg 2x
          "
        />
      </picture>
    </div>
    <div class="section-works">
      <div class="section-works-text">
        <div class="text-tittle">
          <p class="title-it-works">
            To order your
            <span class="text-tittle-p-works">vegetable</span> basket, simply
            follow these
            <span class="text-tittle-p-works">easy steps</span>
          </p>
          <p class="text-it-works">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home.
          </p>
        </div>

        <ol class="list-works">
          <li class="item-works1">
            <div class="svg-text1">
              <svg class="circle-svg" width="52" height="52">
                <use href="img/sprite.svg#icon-ellipse36"></use>
                ::before
              </svg>

              <p class="text-item-works1">
                Just choose
                <span class="text-p-item"> the vegetable</span> you want to
                order by clicking on the checkboxes
                <span class="text-p-item">next to it.</span>
              </p>
            </div>
          </li>
          <li class="item-works2">
            <div class="svg-text2">
              <svg class="circle-svg" width="52" height="52">
                <use href="img/sprite.svg#icon-ellipse36"></use>
                ::before
              </svg>
              <p class="text-item-works2">
                Click on <span class="text-p-item">the basket </span> and fill
                out the form.
              </p>
            </div>
          </li>
          <li class="item-works3">
            <div class="svg-text3">
              <svg class="circle-svg" width="52" height="52">
                <use href="img/sprite.svg#icon-ellipse36"></use>
                ::before
              </svg>
              <p class="text-item-works3">
                Sit back and relax! Your
                <span class="text-p-item"> fresh vegetables</span> basket will
                be delivered.
              </p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
