<div class="menu-overlay js-menu">
  <div class="menu-wrapper">
    <button class="menu-close-btn js-menu-close" type="button">
      <svg class="close-icon" width="32" height="32">
        <use href="./img/sprite.svg#close-icon"></use>
      </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="mob-nav-list">
        <li class="mob-nav-item"><a href="#">How It Works</a></li>
        <li class="mob-nav-item"><a href="#vegetables">Vegetables</a></li>
        <li class="mob-nav-item"><a href="#reviews">Reviews</a></li>
      </ul>
    </nav>
    <a class="shop-btn" href="#">Shop now</a>
  </div>
</div>
