<section class="rewiews">
  <div class="container">
    <div class="rewiews-text-box">
      <h2 class="rewiews-text">
        reviews from our <span class="rewiews-text-span">customers</span>
      </h2>
      <p class="rewiews-text-small">
        Words of our customers: impressions and opinions about the quality of
        our services and the freshness of our products.
      </p>
    </div>
    <ul class="rewiews-list">
      <li class="rewiews-item">
        <div class="rewiews-item-box">
          <img class="rewiews-person-img" src="/img/Reviews/John.png" alt="John Wax"
            srcset="/img/Reviews/John.png 1x, /img/Reviews/john@2x.png 2x" width="56" />
          <div class="name-rewiews">
            <h3 class="person-name">John Wax</h3>
            <p class="person-rewiews">
              These vegetables are my secret to delicious and healthy meals. The
              quality is always at the highest level, the aroma and taste are
              enchanting. I advise every fan of real products!
            </p>
          </div>
        </div>
      </li>
      <li class="rewiews-item rewiews-item-mobile">
        <div class="rewiews-item-box">
          <img class="rewiews-person-img" src="/img/Reviews/viktoria.png" alt="Victoria Romashenko"
            srcset="/img/Reviews/viktoria.png 1x, /img/Reviews/viktoria@2x.png 2x" />
          <div class="name-rewiews">
            <h3 class="person-name">Victoria Romashenko</h3>
            <p class="person-rewiews">
              I love how fast and fresh the vegetables are delivered. Salads
              always turn out so appetizing, and soups are real masterpieces.
              The quality is impeccable!
            </p>
          </div>
        </div>
      </li>
      <li class="rewiews-item rewiews-item-mobile rewiews-item-tablet">
        <div class="rewiews-item-box">
          <img class="rewiews-person-img" src="/img/Reviews/ihor.png" alt="Ihor Trachuk"
            srcset="/img/Reviews/ihor.png 1x, /img/Reviews/ihor@2x.png 2x" />
          <div class="name-rewiews">
            <h3 class="person-name">Ihor Trachuk</h3>
            <p class="person-rewiews">
              Recently tried my fresh tomatoes and peppers - amazing! The
              authenticity of the taste, as if from the garden directly to my
              table. It is now my main vegetable supplier.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>