<section class="vegetables" id="vegetables">
  <div class="vegetables-container container">
    <h2 class="vegetables-title">
      organic<span class="vegetables-title-part"> vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">eggplant</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <picture>
          <!--  DESKTOP -->
          <source media="(min-width: 1280px)" srcset="" />
          <!-- TABLET -->
          <source media="(min-width: 768px)" srcset="" />
          <!-- MOBILE-->
          <source media="(max-width: 767px)" srcset="" />

          <img
            class="vegetables-img"
            src=""
            alt="Eggplant"
            width="280"
            height="244"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">leek</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <picture>
          <!--  DESKTOP -->
          <source media="(min-width: 1280px)" srcset="" />
          <!-- TABLET -->
          <source media="(min-width: 768px)" srcset="" />
          <!-- MOBILE-->
          <source media="(max-width: 767px)" srcset="" />

          <img
            class="vegetables-img"
            src=""
            alt="leek"
            width="280"
            height="244"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">mushrooms</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <picture>
          <!--  DESKTOP -->
          <source media="(min-width: 1280px)" srcset="" />
          <!-- TABLET -->
          <source media="(min-width: 768px)" srcset="" />
          <!-- MOBILE-->
          <source media="(max-width: 767px)" srcset="" />

          <img
            class="vegetables-img"
            src=""
            alt="mushrooms"
            width="280"
            height="244"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">corn</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <picture>
          <!--  DESKTOP -->
          <source media="(min-width: 1280px)" srcset="" />
          <!-- TABLET -->
          <source media="(min-width: 768px)" srcset="" />
          <!-- MOBILE-->
          <source media="(max-width: 767px)" srcset="" />

          <img
            class="vegetables-img"
            src=""
            alt="corn"
            width="280"
            height="244"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">sweet potatoes</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <picture>
          <!--  DESKTOP -->
          <source media="(min-width: 1280px)" srcset="" />
          <!-- TABLET -->
          <source media="(min-width: 768px)" srcset="" />
          <!-- MOBILE-->
          <source media="(max-width: 767px)" srcset="" />

          <img
            class="vegetables-img"
            src=""
            alt="sweet potatoes"
            width="280"
            height="244"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">carrot</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <picture>
          <!--  DESKTOP -->
          <source media="(min-width: 1280px)" srcset="" />
          <!-- TABLET -->
          <source media="(min-width: 768px)" srcset="" />
          <!-- MOBILE-->
          <source media="(max-width: 767px)" srcset="" />

          <img
            class="vegetables-img"
            src=""
            alt="carrot"
            width="280"
            height="244"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
