<section class="vegetables" id="vegetables">
  <div class="vegetables-container container">
    <h2 class="vegetables-title">
      organic<span class="vegetables-title-part"> vegetables</span>
    </h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">eggplant</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <picture>
          <!--  DESKTOP -->
          <source
            media="(min-width: 1280px)"
            srcset="
              img/vegetables/eggplant.png    1x,
              img/vegetables/eggplant@2x.png 2x
            "
          />
          <!-- TABLET -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/vegetables/eggplant_tab.png    1x,
              img/vegetables/eggplant_tab@2x.png 2x
            "
          />
          <!-- MOBILE-->
          <source
            media="(max-width: 767px)"
            srcset="
              img/vegetables/eggplant_mob.png    1x,
              img/vegetables/eggplant_mob@2x.png 2x
            "
          />

          <img
            class="vegetables-img"
            src="img/vegetables/eggplant_mob.png"
            alt="Eggplant"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">leek</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <picture>
          <!--  DESKTOP -->
          <source
            media="(min-width: 1280px)"
            srcset="img/vegetables/leek.png 1x, img/vegetables/leek@2x.png 2x"
          />
          <!-- TABLET -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/vegetables/leek_tab.png    1x,
              img/vegetables/leek_tab@2x.png 2x
            "
          />
          <!-- MOBILE-->
          <source
            media="(max-width: 767px)"
            srcset="
              img/vegetables/leek_mob.png    1x,
              img/vegetables/leek_mob@2x.png 2x
            "
          />

          <img
            class="vegetables-img"
            src="img/vegetables/leek_mob.png"
            alt="leek"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">mushrooms</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <picture>
          <!--  DESKTOP -->
          <source
            media="(min-width: 1280px)"
            srcset="
              img/vegetables/mushrooms.png    1x,
              img/vegetables/mushrooms@2x.png 2x
            "
          />
          <!-- TABLET -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/vegetables/mushrooms_tab.png    1x,
              img/vegetables/mushrooms_tab@2x.png 2x
            "
          />
          <!-- MOBILE-->
          <source
            media="(max-width: 767px)"
            srcset="
              img/vegetables/mushrooms_mob.png    1x,
              img/vegetables/mushrooms_mob@2x.png 2x
            "
          />

          <img
            class="vegetables-img"
            src="img/vegetables/mushrooms_mob.png"
            alt="mushrooms"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">corn</h3>
        <p class="vegetables-price">60 USD / kg</p>
        <picture>
          <!--  DESKTOP -->
          <source
            media="(min-width: 1280px)"
            srcset="img/vegetables/corn.png 1x, img/vegetables/corn@2x.png 2x"
          />
          <!-- TABLET -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/vegetables/corn_tab.png    1x,
              img/vegetables/corn_tab@2x.png 2x
            "
          />
          <!-- MOBILE-->
          <source
            media="(max-width: 767px)"
            srcset="
              img/vegetables/corn_mob.png    1x,
              img/vegetables/corn_mob@2x.png 2x
            "
          />

          <img
            class="vegetables-img"
            src="img/vegetables/corn_mob.png"
            alt="corn"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">sweet potatoes</h3>
        <p class="vegetables-price">50 USD / kg</p>
        <picture>
          <!--  DESKTOP -->
          <source
            media="(min-width: 1280px)"
            srcset="
              img/vegetables/sweet-potatoes.png    1x,
              img/vegetables/sweet-potatoes@2x.png 2x
            "
          />
          <!-- TABLET -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/vegetables/sweet-potatoes_tab.png    1x,
              img/vegetables/sweet-potatoes_tab@2x.png 2x
            "
          />
          <!-- MOBILE-->
          <source
            media="(max-width: 767px)"
            srcset="
              img/vegetables/sweet-potatoes_mob.png    1x,
              img/vegetables/sweet-potatoes_mob@2x.png 2x
            "
          />

          <img
            class="vegetables-img"
            src="img/vegetables/sweet-potatoes_mob.png"
            alt="sweet potatoes"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="vegetables-item">
        <h3 class="vegetables-subtitle">carrot</h3>
        <p class="vegetables-price">40 USD / kg</p>
        <picture>
          <!--  DESKTOP -->
          <source
            media="(min-width: 1280px)"
            srcset="
              img/vegetables/carrot.png    1x,
              img/vegetables/carrot@2x.png 2x
            "
          />
          <!-- TABLET -->
          <source
            media="(min-width: 768px)"
            srcset="
              img/vegetables/carrot_tab.png    1x,
              img/vegetables/carrot_tab@2x.png 2x
            "
          />
          <!-- MOBILE-->
          <source
            media="(max-width: 767px)"
            srcset="
              img/vegetables/carrot_mob.png    1x,
              img/vegetables/carrot_mob@2x.png 2x
            "
          />

          <img
            class="vegetables-img"
            src="img/vegetables/carrot_mob.png"
            alt="carrot"
            width="280"
            height="240"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
