<section class="your-order" id="your-order">
  <div class="container">
    <div class="order-title-wrapper">
      <h2 class="order-section-title">
        Fresh <span class="order-title-part">Harvest</span> Box has got you
        covered
      </h2>
      <p class="order-section-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="order-container">
      <div class="order-form-wrapper">
        <p class="order-form-caption">
          Ordering <span class="form-caption-part">from us</span> is quick and
          easy! Fill out <span class="form-caption-part">the form</span> below
          and we will contact you !
        </p>
        <form class="order-form" name="order-form">
          <div class="form-input-wrapper">
            <label class="visually-hidden form-label" for="user-name"
              >Name</label
            ><input
              class="form-input"
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Full Name"
              required
            />
            <label class="visually-hidden form-label" for="user-email"
              >Email</label
            ><input
              class="form-input"
              type="email"
              name="user-email"
              id="user-email"
              placeholder="Email"
              required
            />
            <label
              class="visually-hidden form-label"
              for="user-comment"
              required
              >Comment</label
            >
            <textarea
              class="form-input"
              name="user-comment"
              id="user-comment"
              placeholder="Comment"
            ></textarea>
          </div>
          <button class="form-btn" type="submit">Send</button>
        </form>
      </div>
      <div class="order-socials-wrapper">
        <picture class="order-socials-picture">
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/your-order/desktop-women-section-order.jpg    1x,
              /img/your-order/desktop-women-section-order@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/your-order/tablet-women-section-order.jpg    1x,
              /img/your-order/tablet-women-section-order@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/your-order/mobile-women-section-order.jpg    1x,
              /img/your-order/mobile-women-section-order@2x.jpg 2x
            "
          />
          <img
            class="order-socials-image"
            src="/img/your-order/desktop-women-section-order.jpg"
            alt="woman and fruit"
            width="536"
            height="352"
          />
        </picture>
        <p class="socials-caption">Follow us on our social networks:</p>
        <ul class="socials-list">
          <li class="socials-item">
            <a
              class="socials-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              >Instagram</a
            >
          </li>
          <span class="socials-link">/</span>
          <li class="socials-item">
            <a
              class="socials-link"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              >Facebook</a
            >
          </li>
          <span class="socials-link">/</span>
          <li class="socials-item">
            <a
              class="socials-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              >Youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
