:root {
  font-family: 'Inter Tight', serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;

  color: #fbfbfb;
  background-color: #576f35;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.footer-logo-link:focus,
.logo:focus {
  outline: auto;
}