.footer {
  background-color: #7a3145;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.footer-logo {
  fill: #fbfbfb;
  margin-bottom: 14px;
}

.footer-description {
  line-height: 1.43;
  /* width: 335px; */
}

.footer-nav {
  padding-top: 40px;
}

.footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-nav-link {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: -0.01em;
  line-height: 1;
  text-transform: uppercase;
}

.footer-address {
  padding-top: 40px;
  width: 215px;
}

.footer-address ul {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer-contacts {
  margin-top: 14px;
  font-weight: 700;
  line-height: 1.43;
  font-size: 14px;
}

.footer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}

.footer-footer ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #d4bfc4;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding: 32px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-logo {
    margin-right: 32px;
  }

  .footer-description {
    font-size: 16px;
    line-height: 1.25;
    width: 265px;
    padding-top: 24px;
  }

  .footer-nav {
    gap: 24px;
    margin-left: auto;
  }

  .footer-address {
    padding-top: 64px;
    margin-left: auto;
  }

  .footer-contacts {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 24px;
  }

  .footer-footer {
    padding-top: 100px;
  }

  .footer-footer ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 318px;
  }

  .footer-link {
    line-height: 1.25;
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    padding: 52px 100px;
  }

  .footer-footer ul {
    gap: 686px;
  }
}