  .hero {
    /* padding-top: 80px; */
    /* padding-bottom: 80px; */
    /* background-color: #576f35; */
    /* color: #fff; */
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .text-content {
    /* max-width: 335px; */
  }

  .hero-title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  .hero-description {
    line-height: 1.43;
  }

  .image-content {
    width: 100%;
    height: 372px;
    background-image: url(/img/hero/mobile-vegetables.jpg);

    /* <source srcset="/img/hero/mobile-vegetables.jpg 1x, /img/hero/mobile-vegetables@2x.jpg 2x"
    media="(max-width: 767px)"><source srcset="/img/hero/tablet-vegetables.jpg 1x, /img/hero/tablet-vegetables@2x.jpg 2x"
    media="(min-width: 768px) and (max-width: 1279px)"><source srcset="/img/hero/desktop-vegetables.jpg 1x, /img/hero/desktop-vegetables@2x.jpg 2x"
    media="(min-width: 1280px)"><img src="/img/hero/desktop-vegetables.jpg" alt="Fresh vegetables" loading="lazy"> */
  }

  @media only screen and (max-width: 374px) {
    .text-content h1 {
      font-size: calc(41px + (48 - 41) * ((100vw - 320px) / (375 - 320)));
    }

  }

  @media only screen and (min-width: 768px) {
    section {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .content-wrapper {
      flex-direction: column;
    }

    .text-content {
      text-align: left;
      max-width: 704px;
    }

    .hero-title {
      font-size: 76px;
      font-weight: 600;
      margin-bottom: 24px;
    }

    .hero-description {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 52px;
    }
  }

  @media only screen and (min-width: 1280px) {
    .content-wrapper {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      padding: 80px 0;
      /* max-width: 1280px; */
      margin: 0 auto;
      /* Центрує по горизонталі */
    }

    .text-content {
      text-align: left;
      max-width: 502px;
      flex-basis: 50%;
    }

    .hero-title {
      font-size: 76px;
      font-weight: 600;
      line-height: 1.2;
      margin-bottom: 128px;
    }

    .hero-description {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 30px;
    }

    .image-content {
      flex-basis: 50%;
      display: flex;
      justify-content: flex-end
    }
  }