ol {
  list-style: none;
}

.how-it-works {
  display: flex;
  justify-content: center;
}
.section-works {
  margin: 100px;
  width: 640px;
  height: 760px;
  background-color: #576f35;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}

.img-it-works {
  width: 640px;
  height: 760px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  background-color: #7a3145;
}

.section-works-text {
  width: 440px;
  height: 560px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 104px;
}

.text-tittle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.title-it-works {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  width: 440px;
  height: 96px;
}

.text-it-works {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #fbfbfb;
}

.woman-cook {
  border-radius: 30px;
  width: 440px;
  height: 560px;
}

.item-works {
  border-radius: 15px;
  padding: 12px 25px 12px 24px;
  width: 440px;
  height: 76px;
  background-color: #fbfbfb;
}

.text-item-works {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #858585;
}
