/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* swiper.js */
@import url(./swiper-bundle.min.css);

/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./menu.css');
@import url('./hero.css');
@import url('./how-it-work2.css');
@import url('./advertisement.css');
@import url('./vegetables.css');
@import url('./reviews.css');
@import url('./your-order.css');
@import url('./footer.css');
