.order-title-wrapper {
    max-width: 640px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .order-title-wrapper {
    margin-bottom: 52px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-title-wrapper {
    max-width: 751px;
  }
}

.order-section-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.08;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .order-section-title {
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 1;
  }
}

.order-title-part {
  color: #d4bfc4;
}

.order-section-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.43;
}

@media only screen and (min-width: 768px) {
  .order-section-text {
    font-size: 16px;
    line-height: 1.25;
  }
}

.order-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .order-container {
    gap: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-container {
    flex-direction: row;
  }
}

.order-form-wrapper {
  padding: 40px 20px;
  border-radius: 30px;
  background-color: #fbfbfb;
}

@media only screen and (min-width: 768px) {
  .order-form-wrapper {
    max-width: 640px;
    padding: 72px 100px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-form-wrapper {
    max-width: 524px;
    padding: 52px 48px;
  }
}

.order-form-caption {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

@media only screen and (min-width: 768px) {
  .order-form-caption {
    margin-bottom: 52px;
    font-size: 32px;
  }
}

.form-caption-part {
  color: #7a3145;
}

.form-caption-part+.form-caption-part {
  color: #576f35;
}

.form-input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .form-input-wrapper {
    margin-bottom: 24px;
  }
}

.form-input {
  width: 100%;
  height: 48px;
  border: 1px solid #858585;
  border-radius: 30px;
  padding: 14px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

@media only screen and (min-width: 768px) {
  .form-input {
    height: 52px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.form-input:focus-within {
  outline: none;
}

.form-input:not(:last-child):not(:placeholder-shown):focus-within:invalid {
  border-color: #e74a3b;
}

.form-input:not(:last-child):not(:placeholder-shown):focus-within:valid {
  border-color: #3cbc81;
}

.form-input:focus {
  border-color: #7a3145;
}

.form-input:last-child {
  border-radius: 15px;
  height: 92px;
  resize: none;
}

@media only screen and (min-width: 768px) {
  .form-input:last-child {
    height: 96px;
  }
}

.form-input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: #141414;
}

@media only screen and (min-width: 768px) {
  .form-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }
}

.form-btn {
    display: block;
    margin: 0 auto;
    border: none;
    width: 100%;
    border-radius: 30px;
    padding: 16px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    background-color: #7a3145;
    color: inherit;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, color, outline;
}

.form-btn:hover, .form-btn:focus {
  background-color: #d4bfc4;
  color: #7a3145;
}

.form-btn:active {
  background-color: transparent;
  color: #7a3145;
  outline: 1px solid #7a3145;
}

.order-socials-wrapper {
  border-radius: 30px;
  padding: 40px 20px;
  background-color: #7a3145;
}

@media only screen and (min-width: 768px) {
  .order-socials-wrapper {
    max-width: 640px;
    padding: 52px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-socials-wrapper {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.order-socials-picture {
  display: block;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .order-socials-picture {
    margin-bottom: 52px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-socials-picture {
    margin-bottom: 80px;
  }
}

.order-socials-image {
  border-radius: 15px;
  background-color: rgba(20, 20, 20, 0.2);
}

.socials-caption {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  color: #d4bfc4;
}

@media only screen and (min-width: 768px) {
  .socials-caption {
    font-size: 16px;
    line-height: 1.25;
  }
}

.socials-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 23px;
}

@media only screen and (min-width: 768px) {
  .socials-list {
    gap: 31px;
  }
}

.socials-item:not(:last-child)::after {
  content: "/";
  position: absolute;
  margin-left: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
}

@media only screen and (min-width: 768px) {
  .socials-item:not(:last-child)::after {
    margin-left: 12px;
  }
}

.socials-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

.socials-link:hover,
.socials-link:focus {
   text-decoration: underline; /*Це залишаешь? */
}